{% extends "base.html" %}

{% block content %}
    <h1>Здравствуйте, {{ current_user.username }}! </h1>
    <p>Это Ваш кабинет пользователя. Ниже представлены кружки, которыми Вы управляете.</p>
    <p>Вы можете:</p>
    <ul>
        <li>добавить новый кружок кнопкой "Добавить кружок"</li>
        <li>изменить информацию о Ваших кружках кнопкой "Редактировать кружок"</li>
        <li>удалить кружок, если он уже не работает, кнопкой "Удалить кружок"</li>
    </ul>
    <form action="{{ url_for('addclub') }}">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Учреждение</th>
                <th>Название_кружка</th>
                <th>Преподаватель</th>
                <th>Стоимость</th>
                <th>Тэги</th>
                <th>Краткое описание</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for item in user_select %}
                    <tr>
                        <td>{{ item.institution }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.leader }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ ", ".join(item.tags)  }}</td>
                        <td>{{ item.snippet }}</td>
                        <td><a href="{{ 'editclub/{}'.format(item.id) }}">Редактировать кружок</a></td>
                        <td><a href="{{ 'deleteclub/{}'.format(item.id) }}">Удалить кружок</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Добавить кружок</button>
    </form>
{% endblock %}
<!-- <input type="button" value="Удалить">   -->
