{% extends "base.html" %}
{% block content %}
    <div class="content" style="padding: 0 50px;">
        <div class="row">
            <div class="col-md-6">
                <h1>Здравствуйте, {{ current_user.username }}! </h1>
                <p>Это Ваш кабинет пользователя. Ниже представлены кружки, которыми Вы управляете.</p>
                <a href="{{ url_for('addclub') }}">Добавить кружок</a>
            </div>
            
            <div class="col-md-6">
                <p>Вы можете:</p>
                <ul>
                    <li>добавить новый кружок кнопкой "Добавить кружок"</li>
                    <li>изменить информацию о Ваших кружках кнопкой "Редактировать кружок"</li>
                    <li>удалить кружок, если он уже не работает, кнопкой "Удалить кружок"</li>
                </ul>    
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Учреждение</th>
                        <th>Название_кружка</th>
                        <th>Преподаватель</th>
                        <th>Стоимость</th>
                        <th>Краткое описание</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in user_select %}
                            <tr>
                                <td><img src="/uploads/{{item.url_logo}}" height="35" alt="Логотип"></td>
                                <td>{{ item.institution }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.leader }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.snippet }}</td>
                                <td><a href="{{ 'editclub/{}'.format(item.id) }}">Редактировать кружок</a></td>
                                <td><a href="{{ 'deleteclub/{}'.format(item.id) }}">Удалить кружок</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}