{% extends "base.html" %}
{% block content %}
    <div class="content" style="padding:0 50px;">
        <div class="row">
            <div class="col-md-12">
                <h1>Страница добавления кружка</h1>
                <form action="/addclub" method="post">
                    <p>Заполните форму для Вашего кружка </p>
                    {{ form.hidden_tag() }}
                    {% for field in form %}
                        {% if field.widget.input_type != 'hidden' %} {{ field.label }} {% endif %} {{ field }} {{ field.description }}<br>
                        <p>
                            {% for error in field.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <input type="submit" value="Сохранить"></input>
                </form>        
            </div>
        </div>
    </div>

{% endblock %}