{% extends "base.html" %}

{% block content %}
    <h1>Страница добавления кружка</h1>
        <form action="/addlogo" enctype="multipart/form-data" method="post">
            <p>Загрузите Ваш логотип на сервер</p>
            <p><input type="file" name="file">
            <input type="submit" value="Отправить"></p>
        </form>
        <form action="/addphoto" enctype="multipart/form-data" method="post">
            <p>"Загрузите до трех фотографий"</p>
            <p><input type="file" name="file1" multiple accept="image/*,image/jpeg"></p>
            <p><input type="file" name="file2" multiple accept="image/*,image/jpeg"></p>
            <p><input type="file" name="file3" multiple accept="image/*,image/jpeg"></p>
            <p><input type="submit" value="Отправить"></p>
        </form>
{% endblock %}
