{% extends "base.html" %}

{% block content %}
            {% for item in club %}
            <h1><b></b> {{  item.name  }}</h1>
            <p><b>Описание: </b> {{ item.description }}</p>
            <p><b>Учреждение: </b> {{ item.institution }}</p>
            <p><b>Преподаватель: </b> {{ item.leader }}</p>
            <p><b>Возраст: от </b>{{ item.ages_from }} до {{ item.ages_to }} лет</p>
            <p><b>Город: </b> Краматорск </p>
            <p><b>Адрес: </b> {{ item.street }}, {{ item.building }}, кабинет {{ item.room }} </p>
            <p><b>Цена: </b> {{ item.price }}</p>
            <p><b>Телефон: </b> {{ item.phone }}</p>
            <p><b>Web: </b><a href="{{ item.web }}">{{ item.web }}</a></p>
            <p><b>E-mail: </b><a href=mailto:"{{ item.email }}">{{ item.email }}</a></p>
            <p><b>Страница в социальной сети: </b><a href="{{ item.social }}">{{ item.social }}</a></p>
            {% endfor %}
{% endblock %}
