{% extends "base.html" %}

{% block content %}
            {% for item in club %}
            <h1><b></b> {{  item.name  }}</h1>
            <p><b>Описание:</b> {{ item.description }}</p>
            <p><b>Учреждение:</b> {{ item.institution }}</p>
            <p><b>Преподаватель:</b> {{ item.leader }}</p>
            <p><b>Возраст:</b> {{ item.ages }}</p>
            <p><b>Город:</b> Краматорск </p>
            <p><b>Адрес:</b> {{ item.street }}, {{ item.building }}, кабинет {{ item.room }} </p>
            <p><b>Цена:</b> {{ item.price }}</p>
            <p><b>Телефон:</b> {{ item.phone }}</p>
            <p><b>Web:</b> {{ item.web }}</p>
            <p><b>E-mail:</b> {{ item.email }}</p>
            <p><b>Страница в социальной сети:</b> {{ item.social }}</p>
             {% endfor %}
{% endblock %}
