{% extends "base.html" %}

{% block content %}
    <h1>Результаты поиска учреждений</h1>
    {% if clubs_search_results%}
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Имя клуба</th>
                <th>Короткое описание</th>
                <th>Город</th>
                <th>Короткое описание</th>
              </tr>
            </thead>
            <tbody>
                {% for item in clubs_search_results%}
                    <tr>
                        <td> <a href="/club/{{ item.id }}">{{ item.name }}</a> </td>
                        <td>{{ item.snippet }}</td>
                        <td>Краматорск</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>к сожалению, по Вашему запросу ничпго не найдено</p>
    {% endif %}
{% endblock %}{{ field.label }}